body {
    font-size: 15px;
    line-height: 1;
    font-family: Pretendard Variable, Noto Sans KR, Apple SD Gothic Neo, 맑은 고딕, Malgun Gothic, sans-serif;
}

div {
    display:block;
    unicode-bidi: isolate;
}
element.style{
    height:80.75px
}
div{
    margin: 0;
    padding: 0;
}
div.container{

}